body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #53484842;
    padding: 0.25rem;
}

.playlist-cards {
    display: flex;
    padding: 2rem;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.playlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(166, 180, 176, 0.87) 0px 3px 8px;
}

.playlist:hover {
    box-shadow: rgba(41, 48, 46, 0.87) 0px 3px 8px;

}

.playlist * {
    margin: 0.5rem;
}

.playlist-image {
    width: 300px;
}

/* CSS for Modal */
.modal-overlay {
    visibility: hidden;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
 }

 .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888888b4;
    border-radius: 1rem;
    width: 80%; /* Could be more or less, depending on screen size */
 }

.modal-playlist-info {
    display: flex;
    gap: 2rem;
    padding: 1rem;
}

.modal-song-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    padding: 0.5rem;
    border: 2px solid grey;
}

.modal-song {
    display: flex;
    background-color: #ede9e9;
    padding: 0.5rem;
}

.modal-song-info * {
    margin: 0.35rem;
}

.modal-song-time {
    margin-left: auto;
}

.song-image {
    width: 7rem;
}

.modal-image {
    width: 14rem;
}

.playlist-image {
    width: 19rem;
}

button {
    z-index: 1;
    background-color: #53484842;
    padding: 0.5rem 1rem;
    border: 2px solid rgb(192, 182, 182);
}
button:hover {
    border: 2px solid rgb(80, 72, 72);

}

 .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
 }

 .close:hover,
 .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

footer {
    text-align: center;
    background-color: #53484842;
    width: 100vw;
    padding: 0.75rem;
    bottom: 0;
    left: 0;
}